<html>
    <head>
        <title>Live Update</title>
        
        {% load staticfiles %} 
            <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
        
        <script type="text/javascript" language="javascript"
              <script src="{{ MEDIA_URL }}js/jquery-1.11.3.min.js"/>
        </script>
        <script type="text/javascript" language="javascript" 
            <script src="{{ MEDIA_URL }}js/main.js"/>
        </script>
    </head>
    
    <body>
        <h1> Welcome to the Live Update!</h1>
        
        <a href="#addUpdate"> Add Update </a>
        <div id="addUpdate" class="newUpdate">
            <div>
                <form action="{% url 'add' %}" method="post">
                {% csrf_token %}
                    <fieldset title="Add Update">
                        <legend>Add Update</legend>
	                <a href="#close" title="Закрыть" class="close">X</a>
	                <input type="text" name="updateText" placeholder="Add your update here" maxlength="255"/>
                        <input type="submit" value="Update!"/>
                    </fieldset>
                </form>
            </div>
        </div>
        
        <p> This site will automatically refresh itself </p>
        
        {% if object_list %}
            <div id="update-holder">
                {%for object in object_list %}
                <div class="update {% cycle even, odd %}" id="{{object.id }}">
                    <div class="timestamp">
                        {{ object.timestamp|date:"Y-m-d H:i:s" }}
                    </div>
                    <div class "text">
                        {{ object.text|linebreaksbr }}
                    </div>
                    <div class="clear"></div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p> No updates yet - please check back later! </p>
        {% endif %}
    </body>
</html>

